# {{ ansible_managed }}
{% if item.fixed_ip is defined %}
ifconfig-push {{ item.fixed_ip }} {{ openvpn_subnet_mask }}
{% endif %}
{% for net in (item.iroute | default([])) %}
{%- set parts = net.split('/') -%}
{%- set ip = parts[0] -%}
{%- set mask_bits = parts[1] | int -%}
{%- set octets = [] -%}
{%- for i in range(4) -%}
  {%- set b = mask_bits - i * 8 -%}
  {%- if b >= 8 -%}{{ octets.append(255) or '' }}
  {%- elif b > 0 -%}{{ octets.append((256 - (2 ** (8 - b)) | int)) or '' }}
  {%- else -%}{{ octets.append(0) or '' }}
  {%- endif -%}
{%- endfor %}
iroute {{ ip }} {{ octets | join('.') }}
{% endfor %}
