[defaults]
inventory                       = ansible/inventory/hosts.yml
roles_path                      = ansible/roles
collections_path                = ansible/.cache/collections
remote_tmp                      = $HOME/.ansible/tmp
local_tmp                       = $HOME/.ansible/tmp

forks                           = 10
internal_poll_interval          = 0.05
gathering                       = smart
timeout                         = 10
hash_behaviour                  = replace
interpreter_python              = auto_silent

# Vault: путь оверрайдится через `make apply VAULT_PASS=...` если нужно.
vault_password_file             = $HOME/.ansible/vless_vault

# Безопасность
host_key_checking               = True
retry_files_enabled             = False

# Output / warnings
nocows                          = 1
display_skipped_hosts           = true
display_ok_hosts                = true
callbacks_enabled               = timer, profile_roles
stdout_callback                 = default
result_format                   = yaml
system_warnings                 = true
deprecation_warnings            = true
command_warnings                = true

# Misc tunables
allow_world_readable_tmpfiles   = true
var_compression_level           = 6
duplicate_dict_key              = ignore
no_target_syslog                = false

# Fact caching
fact_caching                    = jsonfile
fact_caching_connection         = ansible/.cache/facts
fact_caching_timeout            = 3600

[module_defaults]
gather_timeout                  = 60
gather_subset                   = all

[privilege_escalation]
become_method                   = sudo

[ssh_connection]
ssh_args                        = -C                                    \
                                  -o ControlMaster=auto                 \
                                  -o ControlPersist=60s                 \
                                  -o GSSAPIAuthentication=no            \
                                  -o PreferredAuthentications=publickey \
                                  -o ServerAliveInterval=30             \
                                  -o ConnectTimeout=10
# отдельный control_path на (host, port, user) чтобы избежать
# реюза сокета между разными окружениями
control_path                    = %(directory)s/%%h-%%p-%%r
pipelining                      = true

[diff]
always = True
context = 3
