[defaults]
inventory = ansible/inventory/hosts.yml
roles_path = ansible/roles
collections_path = ansible/.cache/collections
vault_password_file             = $HOME/.ansible/vless_vault
host_key_checking = True
retry_files_enabled = False
nocows = True
stdout_callback = yaml
forks = 5
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ansible/.cache/facts
fact_caching_timeout = 3600
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30

[diff]
always = True
context = 3
